.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #273a4b;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #85d899;
  display: flex;
  justify-content: left;
}

.incorrect {
  background-color: #ca606b;
  display: flex;
  justify-content: left;
}

/* hud */
#hud {
  display: flex;
  justify-content: space-between;
}

#listen-hud {
  display: flex;
  justify-content: right;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.hud-main-text {
  text-align: center;
}

/*listentask*/

#listen-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listen-text {
  width: 80%;
}

#action-btn {
  display: flex;
  width: 20%;
}

#matchgame {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.image {
  width: 10rem;
  height: 10rem;
  margin: 1.5rem;
  border: 0.2rem lightblue;
  cursor: pointer;
}

.error-message {
  font-size: 2.5rem;
  text-align: center;
  color: red;
  margin: 1rem;
}

.word-container {
  display: flex;
  font-size: 2.3rem;
  border: 1rem lightblue;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6rem 0rem;
}

.word {
  width: 20rem;
  height: 5rem;
  margin: 1rem;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  box-shadow: lightblue;
}

.word:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.question {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 1.6rem;
}

.listeninput {
  margin: 0rem 1rem;
  width: 6rem;
  padding: 0;
  font-size: 1.8rem;
  border-bottom: 1px solid #83888f;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
}

.article {
  color: #7ba2c4;
  margin: 0.8rem 0rem;
  font-size: 1.8rem;
}

#results {
  padding: 1.3rem 4rem;
}

