.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-users-userformpagewrap {
  height: 100vh;
  max-width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

.heading {
  clear: none;
  color: #fff;
  flex-direction: row;
  flex: 1;
  align-self: flex-start;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 4px;
  padding-top: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 55px;
  display: block;
}

.quick-stack {
  height: 100px;
  background-color: #d9e089;
}

.body {
  font-family: Georgia, Times, Times New Roman, serif;
  font-weight: 400;
}

.cell {
  padding-bottom: 0;
}

.button {
  object-fit: fill;
  background-color: #d9e089;
  border-radius: 9px;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-size: 45px;
  font-weight: 700;
  display: inline-block;
}

.hero-stack {
  object-fit: fill;
  background-color: #f5f7fa;
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  font-weight: 700;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  max-width: 1000px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 140px;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 15px;
  font-weight: 400;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border-radius: 20px;
  padding: 20px 35px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary.w--current {
  float: none;
  font-size: 16px;
  font-weight: 400;
  display: inline;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.heading-2 {
  color: #333;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 45px;
}

.image {
  padding-right: 0;
  display: block;
  position: static;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.hero-stack-2 {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: static;
  overflow: auto;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.logos-without-title {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.clients-wrapper-three {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -10px;
  display: flex;
}

.clients-image-three {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 25px 30px 15px;
  position: relative;
}

.footer-wrapper {
  max-width: 900px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template: ". Area Area-2"
                 ". . ."
                 / auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: -6px;
  margin-bottom: 6px;
  padding-top: 0;
  padding-left: 0;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.team-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.quick-stack-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.text-block, .text-block-2, .text-block-3 {
  font-weight: 400;
}

.text-block-4 {
  font-weight: 700;
}

.heading-3 {
  margin-bottom: 60px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.text-block-5 {
  width: 750px;
  flex: 0 auto;
  align-self: center;
  font-family: Bitter, serif;
  font-size: 18px;
  display: flex;
}

.radio-button-label {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  font-family: Bitter, serif;
  font-weight: 700;
}

.radio-button-field {
  float: none;
  clear: none;
  object-fit: fill;
  background-color: #333;
  border-radius: 11px;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 12px;
  display: inline-block;
  position: static;
  overflow: visible;
}

.cell-2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.text-field {
  width: 750px;
  object-fit: fill;
  position: static;
  overflow: visible;
}

.quick-stack-3 {
  width: 790px;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  flex: 1;
  align-self: center;
  padding-top: 0;
  padding-bottom: 20px;
}

.text-field-2 {
  width: 750px;
  object-fit: scale-down;
  overflow: scroll;
}

.cell-3 {
  font-family: Bitter, serif;
  font-size: 18px;
}

.text-block-6 {
  width: 750px;
  align-self: center;
  display: flex;
}

.image-2 {
  width: auto;
  flex: none;
  order: 1;
  align-self: center;
  display: block;
}

.image-3 {
  flex: none;
  overflow: visible;
}

.image-4 {
  flex: none;
  align-self: center;
}

.text-block-7 {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  display: flex;
}

.cell-4 {
  justify-content: center;
}

.text-block-8 {
  align-self: center;
}

.cell-5 {
  justify-content: center;
}

.text-block-9 {
  align-self: center;
  align-items: flex-start;
  display: flex;
}

.cell-6 {
  justify-content: center;
}

.cell-7 {
  justify-content: center;
  align-items: center;
}

.quick-stack-4 {
  width: 790px;
  grid-column-gap: 300px;
  grid-row-gap: 40px;
  padding-top: 60px;
}

.text-block-10 {
  align-self: center;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.cell-8 {
  justify-content: center;
  align-items: center;
}

.cell-9, .cell-10, .cell-11 {
  justify-content: center;
}

.image-5 {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.image-6, .image-7, .image-8, .image-9 {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.quick-stack-5 {
  width: 790px;
}

.button-2 {
  background-color: #333;
  border-radius: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: Bitter, serif;
}

.cell-12 {
  justify-content: center;
  align-items: flex-start;
}

.text-block1 {
  width: 750px;
  align-self: flex-start;
  font-family: Bitter, serif;
  font-size: 18px;
  display: flex;
}

.radio-button-label-2 {
  font-family: Bitter, serif;
  font-size: 18px;
}

.quick-stack-6 {
  width: 790px;
}

.text-bock-11 {
  text-align: left;
  font-family: Bitter, serif;
}

.button-3 {
  background-color: #333;
  border-radius: 20px;
  align-self: center;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 18px;
  font-weight: 700;
}

.text-block-11 {
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.cell-13 {
  background-color: #e5e5e5;
  justify-content: center;
}

.cell-14, .cell-15, .cell-16, .cell-17, .cell-18, .cell-19, .cell-20, .cell-21, .cell-22 {
  background-color: #e5e5e5;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .clients-image-three {
    margin-bottom: 30px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }
}

@media screen and (max-width: 767px) {
  .hero-stack {
    padding: 60px 15px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-stack-2, .logos-without-title {
    padding: 60px 15px;
  }

  .clients-wrapper-three {
    margin-bottom: -30px;
  }

  .clients-image-three {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .team-slider {
    padding: 60px 15px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .clients-wrapper-three {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin-bottom: 0;
    display: grid;
  }

  .clients-image-three {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .nav-menu-two {
    flex-direction: column;
  }
}

#w-node-c7069797-9910-c415-dfb2-db6af82ecd41-51a66a7f {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-c7069797-9910-c415-dfb2-db6af82ecd43-51a66a7f {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-b0b0538d-6ca8-affc-e76f-9bf81fc35d61-51a66a7f, #w-node-_621921bb-6b33-52f9-10a0-552be0842709-51a66a7f, #w-node-_00b6e32f-dda2-1265-75fd-2fac46aa3522-51a66a7f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4c2ef84c-aa32-c387-ca71-97f4abae7f8b-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_4c2ef84c-aa32-c387-ca71-97f4abae7f8c-34878a47, #w-node-_89ff89f0-f3e2-14b0-16bc-04ca11ef7d85-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7d7aad50-d6d5-b319-31c9-5a7b6c77c3af-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-b0f813b9-77b1-e043-166c-b7a59275bb17-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-b0f813b9-77b1-e043-166c-b7a59275bb18-34878a47, #w-node-b0f813b9-77b1-e043-166c-b7a59275bb1b-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b0f813b9-77b1-e043-166c-b7a59275bb28-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9a351f19-02c3-f668-fac8-e7d633cfc5f9-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_9a351f19-02c3-f668-fac8-e7d633cfc5fa-34878a47, #w-node-_9a351f19-02c3-f668-fac8-e7d633cfc5fd-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9a351f19-02c3-f668-fac8-e7d633cfc60a-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-e7c894df-0d4a-c41e-ae00-89f97d3b7bab-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-e7c894df-0d4a-c41e-ae00-89f97d3b7bac-34878a47, #w-node-e7c894df-0d4a-c41e-ae00-89f97d3b7baf-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e7c894df-0d4a-c41e-ae00-89f97d3b7bbc-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9aaa0bed-842b-db4a-40c0-7c4c6535d270-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_9aaa0bed-842b-db4a-40c0-7c4c6535d271-34878a47, #w-node-_9aaa0bed-842b-db4a-40c0-7c4c6535d274-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9aaa0bed-842b-db4a-40c0-7c4c6535d281-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-d84e292e-f1f3-d0f6-1918-09e56ae15d58-34878a47 {
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: .25fr .25fr;
}

#w-node-d84e292e-f1f3-d0f6-1918-09e56ae15d59-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_60365e4f-dd05-dc2c-049e-0fecccc060c5-34878a47, #w-node-_3ffcb079-b3a8-d77b-36e0-501cdd9c77a9-34878a47, #w-node-db0388c3-0033-925f-bcad-6416f462d670-34878a47, #w-node-d7901209-2fc9-03d5-43dd-85d5d932ab19-34878a47, #w-node-c8e26ccc-fa34-cc5c-2056-e6f74b82f5f3-34878a47, #w-node-b9f33c23-ab4d-59db-24c2-2a9b6150b4d8-34878a47, #w-node-_63b0599c-330d-b332-b3e4-a81844587667-34878a47, #w-node-_3ead29d0-a69a-f127-4c35-74434a0e1951-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_74bf2a39-827b-5307-42d4-64c392316d4e-34878a47 {
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: .25fr .25fr;
}

#w-node-_74bf2a39-827b-5307-42d4-64c392316d4f-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_74bf2a39-827b-5307-42d4-64c392316d52-34878a47, #w-node-_74bf2a39-827b-5307-42d4-64c392316d54-34878a47, #w-node-_74bf2a39-827b-5307-42d4-64c392316d57-34878a47, #w-node-_74bf2a39-827b-5307-42d4-64c392316d59-34878a47, #w-node-_74bf2a39-827b-5307-42d4-64c392316d5c-34878a47, #w-node-_74bf2a39-827b-5307-42d4-64c392316d5e-34878a47, #w-node-_74bf2a39-827b-5307-42d4-64c392316d61-34878a47, #w-node-_74bf2a39-827b-5307-42d4-64c392316d63-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_515b6997-5673-a505-df30-59f0e4ee8c21-34878a47 {
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: .25fr .25fr;
}

#w-node-_515b6997-5673-a505-df30-59f0e4ee8c22-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_515b6997-5673-a505-df30-59f0e4ee8c25-34878a47, #w-node-_515b6997-5673-a505-df30-59f0e4ee8c27-34878a47, #w-node-_515b6997-5673-a505-df30-59f0e4ee8c2a-34878a47, #w-node-_515b6997-5673-a505-df30-59f0e4ee8c2c-34878a47, #w-node-_515b6997-5673-a505-df30-59f0e4ee8c2f-34878a47, #w-node-_515b6997-5673-a505-df30-59f0e4ee8c31-34878a47, #w-node-_515b6997-5673-a505-df30-59f0e4ee8c34-34878a47, #w-node-_515b6997-5673-a505-df30-59f0e4ee8c36-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6d9229d9-28bd-767c-b11b-eaf0fbbda73b-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_6d9229d9-28bd-767c-b11b-eaf0fbbda73c-34878a47, #w-node-_6d9229d9-28bd-767c-b11b-eaf0fbbda742-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_7e1c3057-2700-51d0-5cbd-d27d7ae8bb76-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_7e1c3057-2700-51d0-5cbd-d27d7ae8bb77-34878a47, #w-node-_7e1c3057-2700-51d0-5cbd-d27d7ae8bb7a-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_7533b8fd-a808-32a0-66bf-297f8fa9abcb-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_7533b8fd-a808-32a0-66bf-297f8fa9abcc-34878a47, #w-node-_7533b8fd-a808-32a0-66bf-297f8fa9abcf-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_8eb3950a-9612-4917-03d6-4b601891e407-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_8eb3950a-9612-4917-03d6-4b601891e408-34878a47, #w-node-_8eb3950a-9612-4917-03d6-4b601891e40b-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d162-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d163-34878a47, #w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d166-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d17f-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d180-34878a47, #w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d183-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d19c-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d19d-34878a47, #w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d1a0-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d1b9-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .25fr;
}

#w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d1ba-34878a47, #w-node-_4ad8197d-473f-8720-bc5f-4f41cb83d1bd-34878a47 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_7ff3191d-9696-f07e-737d-aa0aec366400-34878a47 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#w-node-_7ff3191d-9696-f07e-737d-aa0aec366401-34878a47 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_7ff3191d-9696-f07e-737d-aa0aec366407-34878a47, #w-node-e151fc3e-72c9-b764-bcfc-f20ee62a19b5-34878a47, #w-node-dfd38d5d-a7a3-acd4-16ad-4599c5d60d56-34878a47, #w-node-_268871b2-cab5-7335-eac0-47e47c0ac0b9-34878a47, #w-node-ee7d4f6d-d78a-1ad8-9b5d-9b5515142d04-34878a47, #w-node-b788e934-4aff-5987-2ef6-a1cc93b148b3-34878a47, #w-node-c7a15f89-1a22-eb83-d9da-23f4b67e2648-34878a47, #w-node-_20622eb5-bc2f-be7f-769f-e1607410da08-34878a47, #w-node-b868f570-bf10-132f-57be-bd1365286c26-34878a47, #w-node-aee4013b-741b-eada-72f0-87df7e54db52-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a70e414e-2a1a-b601-52a4-ca76a1973c91-34878a47 {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#w-node-a70e414e-2a1a-b601-52a4-ca76a1973c92-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4407c68e-2294-cda7-b2a9-beedf4515271-34878a47 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_4407c68e-2294-cda7-b2a9-beedf4515272-34878a47 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_4407c68e-2294-cda7-b2a9-beedf4515275-34878a47, #w-node-_4407c68e-2294-cda7-b2a9-beedf4515278-34878a47, #w-node-_4407c68e-2294-cda7-b2a9-beedf451527b-34878a47 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
